@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Asap, sans-serif;
}

.app {
    background-color: #2d2d39;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

header > h1 {
    background-color: #e7e7e7;
    width: 100vw;
    padding: 1rem;
    font-size: 2rem;
    color: #2d2d39;
}

.score-board {
    border-bottom: 0.15rem solid #e7e7e7;
    width: 15rem;
}

.score-board > div {
    color: #e7e7e7;
    font-size: 1.5rem;
    padding: 0.2rem;
}

#flag {
    margin: 4% 2% 5% 2%;
    max-height: 30em;
}

.instruction-message {
    color: #e7e7e7;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.options {
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.option {
    border: 0.125rem solid #e7e7e7;
    border-radius: 1rem;
    padding: 0.9rem;
    transition: all 0.6s ease;
}

.option:hover {
    cursor: pointer;
    background-color: #0e0f13;
}

.option > p {
    color: #e7e7e7;
    font-size: 1.2rem;
}

.green-glow {
    border: 0.125rem solid #00cc00;
    box-shadow: 0 0 1rem #006600;
}

.red-glow {
    border: 0.125rem solid #ff0000;
    box-shadow: 0 0 1rem #990000;
}

.green-back {
    background-color: #006600;
    box-shadow: 0 0 2rem #006600;
}

.red-back {
    background-color: #990000;
    box-shadow: 0 0 2rem #990000;
}

@media (min-width: 65rem) {
    .options {
        width: 30%;
    }
}
